


## 1)	Load in the appropriate csv file as a pandas dataframe (batting.csv)

In [37]:
import pandas as pd
import numpy as np

In [38]:
Batting_Data = pd.read_csv("Batting.csv")

## 2)	Print out the dimensions and info about the dataframe you just created

In [39]:
print(Batting_Data.shape)

Batting_Data.info()

(102816, 25)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102816 entries, 0 to 102815
Data columns (total 25 columns):
playerID     102816 non-null object
nameFirst    102816 non-null object
nameLast     102816 non-null object
birthYear    102816 non-null int64
yearID       102816 non-null int64
stint        102816 non-null int64
teamID       102816 non-null object
lgID         102079 non-null object
G            102816 non-null int64
AB           102816 non-null int64
R            102816 non-null int64
H            102816 non-null int64
2B           102816 non-null int64
3B           102816 non-null int64
HR           102816 non-null int64
RBI          102392 non-null float64
SB           101516 non-null float64
CS           79360 non-null float64
BB           102816 non-null int64
SO           94978 non-null float64
IBB          66251 non-null float64
HBP          100006 non-null float64
SH           96478 non-null float64
SF           66782 non-null float64
GIDP         76706 non-null float64
dtypes: float64(9), int64(11), object(5)
memory usage: 19.6+ MB

## For next part I am going to ask you a series of question, for some I am going to want to simply see a number.  For others I will want to see the entire dataframe.  I will make it very clear which is which.

## 3)How many players have hit 40 or more HRs in one single season? ( Number only)

In [40]:
Batting_Data = pd.read_csv("batting.csv")
Grouped_Data = Batting_Data.groupby(['playerID','yearID'],as_index=False).sum()
Filtered_Data = Grouped_Data.loc[Grouped_Data['HR']>=40]
len(Filtered_Data.drop_duplicates('playerID'))

142

## 4)	How many players have hit more than 600 HRs for their career? (Dataframe)

In [56]:
Batting_Data = pd.read_csv("Batting.csv")
Grouped_Data = Batting_Data.groupby("playerID",as_index=False).agg({"HR":"sum","nameFirst":"first","nameLast":"first"})
Filtered_Data= Grouped_Data[Grouped_Data["HR"]>600]
Filtered_Data.reset_index()
#Filtered_Data[["playerID","nameFirst","nameLast","HR"]]

   index   playerID   HR nameFirst   nameLast
0      1  aaronha01  755      Hank      Aaron
1   1542  bondsba01  762     Barry      Bonds
2   6633  griffke02  630       Ken    Griffey
3  10857   mayswi01  660    Willie       Mays
4  14528  rodrial01  696      Alex  Rodriguez
5  14865   ruthba01  714      Babe       Ruth
6  16103   sosasa01  609     Sammy       Sosa
7  17004  thomeji01  612       Jim      Thome

## 5) How many players have hit 40 2Bs, 10 3Bs, 200 Hits, and 30 HRs (inclusive) in one season? (Number Only)

In [133]:
Batting_Data = pd.read_csv("Batting.csv")
Grouped_Data = Batting_Data.groupby(["playerID","yearID"],as_index=False).sum()
Filtered_Data = Grouped_Data.loc[(Grouped_Data["HR"]>=30) & (Grouped_Data["2B"]>=40) & (Grouped_Data["3B"]>=10) & (Grouped_Data["H"]>=200)]
len(Filtered_Data.drop_duplicates("playerID"))

11

## 6)	How many players have had 100 or more SBs in a season? (Dataframe)

In [137]:
Batting_Data = pd.read_csv("Batting.csv")
grouped_Data = Batting_Data.groupby(['playerID','yearID'],as_index=False).agg({"SB":"sum","nameFirst":"first","nameLast":"first"})
Filtered_Data = grouped_Data[grouped_Data['SB']>100]
Filtered_Data.drop_duplicates('playerID').reset_index()

    index   playerID  yearID     SB nameFirst   nameLast
0    9713  brocklo01    1974  118.0       Lou      Brock
1   10331  brownpe01    1887  103.0      Pete   Browning
2   10364  brownto01    1891  106.0       Tom      Brown
3   16351  colemvi01    1985  110.0     Vince    Coleman
4   16703  comisch01    1887  117.0   Charlie   Comiskey
5   27187  fogarji01    1887  102.0       Jim    Fogarty
6   34649  hamilbi01    1889  111.0     Billy   Hamilton
7   37059  henderi01    1982  130.0    Rickey  Henderson
8   48268  lathaar01    1887  129.0     Arlie     Latham
9   62362  nicolhu01    1887  138.0      Hugh      Nicol
10  89859   wardjo01    1887  111.0      John       Ward
11  92606  willsma01    1962  104.0     Maury      Wills

## 7)	How many players in the 1960s have hit more than 200 HRs? (Dataframe)

In [140]:
Batting_Data = pd.read_csv("Batting.csv")
Filtered_Data = Batting_Data.loc[Batting_Data['yearID'].isin(range(1960,1970))]
Grouped_Data  = Filtered_Data.groupby(['playerID']).agg({"nameFirst":"first","nameLast":"first","HR":"sum"})
Grouped_Data = Grouped_Data[Grouped_Data["HR"]>200]
Grouped_Data.reset_index()

     playerID nameFirst     nameLast   HR
0   aaronha01      Hank        Aaron  375
1   allisbo01       Bob      Allison  225
2   bankser01     Ernie        Banks  269
3    cashno01      Norm         Cash  278
4   cepedor01   Orlando       Cepeda  254
5   colavro01     Rocky     Colavito  245
6   howarfr01     Frank       Howard  288
7   kalinal01        Al       Kaline  210
8   killeha01    Harmon    Killebrew  393
9   mantlmi01    Mickey       Mantle  256
10  marisro01     Roger        Maris  217
11  matheed01     Eddie      Mathews  213
12   mayswi01    Willie         Mays  350
13  mccovwi01    Willie      McCovey  300
14  powelbo01      Boog       Powell  202
15  robinfr02     Frank     Robinson  316
16  santoro01       Ron        Santo  253
17  willibi01     Billy     Williams  249
18  yastrca01      Carl  Yastrzemski  202

## 8)	Who has hit the most HRs in history? (Dataframe)

In [141]:
Batting_Data = pd.read_csv("Batting.csv").fillna(0)
Filtered_Data = Batting_Data.groupby("playerID",as_index=False).agg({"nameFirst":"first","nameLast":"first","HR":"sum"})
Filtered_Data=Filtered_Data.sort_values(by=['HR'], ascending=[False]).head(1)
Filtered_Data

       playerID nameFirst nameLast   HR
1542  bondsba01     Barry    Bonds  762

## 9)	Who had the most hits in the 1970s? (Dataframe)

In [142]:
Batting_Data = pd.read_csv("Batting.csv").fillna(0)
Filtered_Data = Batting_Data.loc[Batting_Data['yearID'].isin(range(1970,1980))]
Filtered_Data  = Filtered_Data.groupby(['playerID'],as_index=False).agg({"nameFirst":"first","nameLast":"first","H":"sum"})
Filtered_Data=Filtered_Data.sort_values(by=['H'], ascending=[False]).head(1)
Filtered_Data

      playerID nameFirst nameLast     H
1639  rosepe01      Pete     Rose  2045

## 10)	Top 5 highest OBP (on base percentage) with at least 500 PAs in 1977?  (Dataframe)

In [143]:
Batting_Data = pd.read_csv("Batting.csv").fillna(0)
Filtered_Data = Batting_Data.loc[Batting_Data['yearID']==1977]
Filtered_Data = Filtered_Data.groupby("playerID",as_index=False).sum()
Filtered_Data['PA'] = Filtered_Data.AB+Filtered_Data.BB+Filtered_Data.IBB+Filtered_Data.SH+Filtered_Data.SF
Filtered_Data['OBP'] = (Filtered_Data.H+Filtered_Data.BB+Filtered_Data.IBB+Filtered_Data.SH+Filtered_Data.SF)/Filtered_Data.AB
Filtered_Data = Filtered_Data.loc[Filtered_Data['PA']>=500]
Filtered_Data=Filtered_Data.sort_values(by=['OBP'], ascending=[False]).head(5)
Filtered_Data[["playerID","yearID","OBP","PA"]].reset_index()

   index   playerID  yearID       OBP     PA
0    745  singlke01    1977  0.563433  662.0
1    752  smithre06    1977  0.559426  611.0
2    800  tenacge01    1977  0.556064  578.0
3    334  hargrmi01    1977  0.540952  649.0
4    135  carewro01    1977  0.534091  706.0

## 11)	Top 8 highest averages in 2013 with at least 300 PAs? (Dataframe)

In [144]:
Batting_Data = pd.read_csv("Batting.csv").fillna(0)
Filtered_Data = Batting_Data.loc[Batting_Data['yearID']==2013]
Filtered_Data = Filtered_Data.groupby("playerID",as_index=False).sum()
Filtered_Data['PA'] = Filtered_Data.AB+Filtered_Data.BB+Filtered_Data.IBB+Filtered_Data.SH+Filtered_Data.SF
Filtered_Data['Avg'] = Filtered_Data.H/Filtered_Data.AB
Filtered_Data = Filtered_Data.loc[Filtered_Data['PA']>=300]
Filtered_Data=Filtered_Data.sort_values(by=['Avg'], ascending=[False]).head(8)
Filtered_Data[["playerID","yearID","Avg","PA"]].reset_index()

   index   playerID  yearID       Avg     PA
0    167  cabremi01    2013  0.347748  666.0
1    980  ramirha01    2013  0.345395  336.0
2    269  cuddymi01    2013  0.331288  543.0
3    759  mauerjo01    2013  0.323596  515.0
4   1196  troutmi01    2013  0.322581  717.0
5    595  johnsch05    2013  0.321012  550.0
6    398  freemfr01    2013  0.319419  632.0
7    962   puigya01    2013  0.319372  427.0

## 12)	Leaders in hits from 1940 up to and including 1949. (Dataframe)

In [145]:
Batting_Data = pd.read_csv("Batting.csv").fillna(0)
Filtered_Data = Batting_Data.loc[Batting_Data['yearID'].isin(range(1940,1950))]
Filtered_Data = Filtered_Data.groupby("playerID",as_index=False).agg({"nameFirst":"first","nameLast":"first","H":"sum"})
Filtered_Data=Filtered_Data.sort_values(by=['H'], ascending=[False]).head(10)
Filtered_Data.reset_index()
# TOP 10 Leaders

   index   playerID nameFirst    nameLast     H
0    138  boudrlo01       Lou    Boudreau  1578
1    427  elliobo01       Bob     Elliott  1563
2   1576  walkedi02     Dixie      Walker  1512
3   1103  musiast01      Stan      Musial  1432
4    390  doerrbo01     Bobby       Doerr  1407
5    712  holmeto01     Tommy      Holmes  1402
6     33  applilu01      Luke     Appling  1376
7   1127  nichobi01      Bill   Nicholson  1328
8    961  marioma01     Marty      Marion  1310
9    239  cavarph01      Phil  Cavarretta  1304

## 13)	Who led MLB with the most hits the most times?  And how many times?  (Dataframe, Number)

## 14) Which players have played the most games for their careers?  Top 5, descending by games played presented as a dataframe

In [118]:
Batting_Data = pd.read_csv("Batting.csv")
Batting_Data = Batting_Data.groupby("playerID",as_index=False).agg({"nameFirst":"first","nameLast":"first","G":"sum"})
sorted_data = Batting_Data.sort_values(by="G",ascending=False).head(5)
sorted_data.reset_index()

   index   playerID nameFirst     nameLast     G
0  14719   rosepe01      Pete         Rose  3562
1  18728  yastrca01      Carl  Yastrzemski  3308
2      1  aaronha01      Hank        Aaron  3298
3   7383  henderi01    Rickey    Henderson  3081
4   3155   cobbty01        Ty         Cobb  3035

## 15) How many players have had more than 3000 hits for their careers while also hitting 500 or more HRs?  Just a number is okay here

In [350]:
Batting_Data = pd.read_csv("batting.csv")
Grouped_Data = Batting_Data.groupby("playerID").sum()
Filtered_Data = Grouped_Data.loc[Filtered_Data['H']>3000]
Filtered_Data = Filtered_Data.loc[Filtered_Data['HR']>=500]
len(Filtered_Data.index)

5

## 16) How many HRs were hit during the entire 1988 season?  Just a number is okay here

In [372]:
Grouped_Data = Batting_Data.groupby('yearID').sum()
Grouped_Data["HR"][1988]

3180

## 17) Please filter out and show me the top 3 average seasons by Wade Boggs during his career in seasons in which he had at least 500 ABs.  I would like a dataframe sorted by average.

In [115]:
Batting_Data = pd.read_csv("Batting.csv").fillna(0)
Filtered_Data = Batting_Data.loc[(Batting_Data['nameFirst']=='Wade') & (Batting_Data['nameLast']=='Boggs')]
Filtered_Data = Filtered_Data.groupby("yearID",as_index=False).agg({"nameFirst":"first","nameLast":"first","H":"sum","AB":"sum"})
Filtered_Data['Avg'] = Filtered_Data.H/Filtered_Data.AB
Filtered_Data = Filtered_Data.loc[Filtered_Data['AB']>=500]
Filtered_Data = Filtered_Data.sort_values(by="Avg",ascending=False).head(3)
Filtered_Data.reset_index()

   index  yearID nameFirst nameLast    H   AB       Avg
0      3    1985      Wade    Boggs  240  653  0.367534
1      6    1988      Wade    Boggs  214  584  0.366438
2      5    1987      Wade    Boggs  200  551  0.362976

## 18) Please filter out the top OBPs for the 1995 season with at least 400 PAs, sorted by OBP.  I would like a dataframe for this

In [109]:
Batting_Data = pd.read_csv("Batting.csv").fillna(0)
Filtered_Data = Batting_Data.loc[Batting_Data['yearID']==1995]
Filtered_Data = Filtered_Data.groupby("playerID",as_index=False).sum()
Filtered_Data['PA'] = Filtered_Data.AB+Filtered_Data.BB+Filtered_Data.IBB+Filtered_Data.SH+Filtered_Data.SF
Filtered_Data['OBP'] = (Filtered_Data.H+Filtered_Data.BB+Filtered_Data.IBB+Filtered_Data.SH+Filtered_Data.SF)/Filtered_Data.AB
Filtered_Data = Filtered_Data.loc[Filtered_Data['PA']>=400]
Filtered_Data=Filtered_Data.sort_values(by=['OBP'], ascending=[False]).head(10)
Filtered_Data[["playerID","yearID","OBP","PA"]].reset_index()

   index   playerID  yearID       OBP     PA
0   1002  thomafr04    1995  0.667343  670.0
1    628  martied01    1995  0.628180  650.0
2    659  mcgwima01    1995  0.586751  416.0
3    107  bondsba01    1995  0.583004  652.0
4    235  davisch01    1995  0.577830  534.0
5    612  magadda01    1995  0.551724  431.0
6   1005  thomeji01    1995  0.542035  555.0
7     46  baineha01    1995  0.524675  472.0
8   1080  weisswa01    1995  0.524590  540.0
9    104  boggswa01    1995  0.510870  546.0

## 19) Who had the most 3Bs (in total) in 1922, 1925, 1926, and 1928?  I would like a dataframe with just the leader

In [110]:
Batting_Data = pd.read_csv("Batting.csv").fillna(0)
Filtered_Data = Batting_Data.loc[(Batting_Data['yearID']==1922) | (Batting_Data['yearID']==1925) | (Batting_Data['yearID']==1926) | (Batting_Data['yearID']==1928)]#','1925','1926','1928']]
Grouped_Data = Filtered_Data.groupby(["playerID","yearID"]).agg({"3B":"sum","nameFirst":"first","nameLast":"first","playerID":"first"})
Filtered_Data=Grouped_Data.sort_values(by=['3B'], ascending=[False])
Filtered_Data = Filtered_Data.groupby('yearID').first()
Filtered_Data.reset_index()

   yearID  3B nameFirst nameLast   playerID
0    1922  22      Jake  Daubert  daubeja01
1    1925  26      Kiki   Cuyler  cuyleki01
2    1926  22      Paul    Waner  wanerpa01
3    1928  21     Earle    Combs  combsea01

## 20) How many players have hit 30 or more HRs in season while also stealing (SB) 30 more or bases?  A number is okay here

In [22]:
Batting_Data = pd.read_csv("Batting.csv")
Grouped_Data = Batting_Data.groupby(["playerID","yearID"],as_index=False).sum()
Filtered_Data = Grouped_Data.loc[(Grouped_Data["HR"]>=30) & (Grouped_Data["SB"]>=30)]
Filtered_Data=Filtered_Data.drop_duplicates('playerID')
len(Filtered_Data.playerID)

38

## 21) Who had the highest OBP is 1986 with at least 400 PAs? (Dataframe)

In [85]:
Batting_Data = pd.read_csv("Batting.csv").fillna(0)
Filtered_Data = Batting_Data.loc[Batting_Data['yearID']==1986]
Filtered_Data = Filtered_Data.groupby("playerID",as_index=False).sum()
Filtered_Data['PA'] = Filtered_Data.AB+Filtered_Data.BB+Filtered_Data.IBB+Filtered_Data.SH+Filtered_Data.SF
Filtered_Data['OBP'] = (Filtered_Data.H+Filtered_Data.BB+Filtered_Data.IBB+Filtered_Data.SH+Filtered_Data.SF)/Filtered_Data.AB
Filtered_Data = Filtered_Data.loc[Filtered_Data['PA']>=400]
Filtered_Data=Filtered_Data.sort_values(by=['OBP'], ascending=[False]).head(1)
Filtered_Data[["playerID","yearID","PA","OBP",]].reset_index()

   index   playerID  yearID     PA       OBP
0     78  boggswa01    1986  707.0  0.575862

## 22) Same question but for 1997 and only in the NL (check league ID)? (Dataframe)

In [88]:
Batting_Data = pd.read_csv("Batting.csv").fillna(0)
Filtered_Data = Batting_Data.loc[(Batting_Data['yearID']==1997) & (Batting_Data['lgID']=='NL')]
Filtered_Data = Filtered_Data.groupby("playerID",as_index=False).sum()
Filtered_Data['PA'] = Filtered_Data.AB+Filtered_Data.BB+Filtered_Data.IBB+Filtered_Data.SH+Filtered_Data.SF
Filtered_Data['OBP'] = (Filtered_Data.H+Filtered_Data.BB+Filtered_Data.IBB+Filtered_Data.SH+Filtered_Data.SF)/Filtered_Data.AB
Filtered_Data = Filtered_Data.loc[Filtered_Data['PA']>=400]
Filtered_Data=Filtered_Data.sort_values(by=['OBP'], ascending=[False]).head(1)
Filtered_Data[["playerID","yearID","PA","OBP",]].reset_index()

   index   playerID  yearID     PA       OBP
0     60  bondsba01    1997  716.0  0.637218

## 23) Who had more than the league average HRs in 2012 (filter out all players with less 500 PAs)? (Dataframe)

In [ ]:
Batting_Data = pd.read_csv("Batting.csv").fillna(0)
Filtered_Data = Batting_Data.loc[(Batting_Data['yearID']==2012)]
Filtered_Data = Filtered_Data.groupby("lgID",as_index=False).agg({"nameFirst":"first","nameLast":"first","HR":"sum","Age":"first"})
Filtered_Data['PA'] = Filtered_Data.AB+Filtered_Data.BB+Filtered_Data.IBB+Filtered_Data.SH+Filtered_Data.SF
Filtered_Data = Filtered_Data.loc[Filtered_Data['PA']>=500]
Filtered_Data=Filtered_Data.sort_values(by=['OBP'], ascending=[False]).head(1)
Filtered_Data[["playerID","yearID","PA","OBP",]].reset_index()

## 24) Who is the youngest player to hit 50 or more HRs in a single season? (Dataframe)

In [82]:
Batting_Data=pd.read_csv('Batting.csv')
Batting_Data['Age']=Batting_Data.yearID-Batting_Data.birthYear
Batting_Data=Batting_Data.groupby(['playerID','yearID'],as_index=False).agg({"nameFirst":"first","nameLast":"first","HR":"sum","Age":"first"})
Batting_Data=Batting_Data[Batting_Data['HR']>=50]
Batting_Data=Batting_Data.sort_values(by=['Age'], ascending=[True])
Batting_Data.head(1).reset_index()

   index   playerID  yearID nameFirst nameLast  HR  Age
0  26282  fieldpr01    2007    Prince  Fielder  50   23

## 25) Who are the five youngest players to hit 300 or more HRs for their career? (Dataframe)

In [83]:
import datetime
Batting_Data = pd.read_csv("batting.csv")
Batting_Data['CurrentAge']=datetime.datetime.now().year-Batting_Data.birthYear
Grouped_Data = Batting_Data.groupby(["playerID"],as_index=False).agg({"HR":"sum","CurrentAge":'first',"birthYear":'first'})
Filtered_Data = Grouped_Data.loc[Grouped_Data["HR"]>=300]
Filtered_Data = Filtered_Data.sort_values(by='CurrentAge',ascending=True).head(5)
Filtered_Data.reset_index()

   index   playerID   HR  CurrentAge  birthYear
0   5287  fieldpr01  319          34       1984
1   4953  encared01  310          35       1983
2   2385  cabremi01  446          35       1983
3   6329  gonzaad01  308          36       1982
4  13782  pujolal01  591          38       1980